
@model Practice_MVC_class6.Models.PopsciclesOrder

<h2>Order Summary</h2>

<p><strong>Name: @Model.CustomerName</strong></p>
<p># Popscicles : @Model.NumPopscicles</p>
<p>Flavour Order: @Model.IceCreamFlavour</p>
<p>Order SubTotal: $@Model.SubTotal</p>
<p>HST (@(Model.Taxrate * 100)%): $@Model.HstAmt</p>
<p><strong>Total : $@Model.OrderTotal</strong></p>
