<h2>Order Summary</h2>

<p>Name: @ViewData["CustomerName"]</p>
<p># Popscicles : @ViewData["NumPopscicles"]</p>
<p>Flavour Order: @ViewData["IceCreamFlavour"]</p>
<p>Order SubTotal: $@ViewData["SubTotal"]</p>
<p>HST :  $@ViewData["HstAmt"] (@ViewData["HstRate"])</p>
<p>Total : $@ViewData["OrderTotal"]</p>